@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* navbar css start  */
.navBar {
  padding: 20px 0;
  background-color: #fff !important;
  box-shadow: none !important;
}
.navButton {
  text-decoration: none;
  margin-left: 20px;
}
.navButton,
.footerBtn button {
  padding: 8px 30px;
  background-color: #111430;
  color: #fff;
}
.navButton,
.footerBtn button:hover {
  padding: 8px 30px;
  background-color: #111430;
  color: #fff;
}
/* navbar css end  */
